**/.vscode/
*.pyc
.env
env
.DS_Store
**/__pycache__/**
venv/
bin/
include/
lib/
*.cfg
db.sqlite3
duovenv/
env/
Pipfile*

openapi.yaml


db.sqlite3

# virtual environment
env/
/.env
.env
static
venv
.venv
venv/

# Django
*.log
*.pot
*.pyc
*__pycache__
database.sqlite
.coverage

*.idea

*Pipfile.lock
Pipfile.lock
# *media
*.DS_Store
/.vscode
/__pycache__
.yarn
*/node_modules

node_modules

backend/app/__pycache__
backend/config/__pycache__
.idea
# /backend/app/migrations/
backend/start.sh
frontend/dist
webpack-stats.json
base-vue.html